<footer class="footer">
  <div class="container-xl">
    <div class="row">
      <div class="col-md-4 logo"><a href="#">CeramicShop</a></div>

      <div class="col-md-4 center">
        <ul>
          <li><a [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a></li>
          <li><a [routerLink]="['/about']" routerLinkActive="router-link-active" >About</a></li>
          <li><a [routerLink]="['/shop']" routerLinkActive="router-link-active" >Shop</a></li>
          <li><a [routerLink]="['/contact']" routerLinkActive="router-link-active" >Contact</a></li>
        </ul>
      </div>
      <div class="col-md-4 footer-end">
        <div class="socials">
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-youtube"></i>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="footer-2">
  <div class="container-xl">
    <div class="row second-half">
      <div class="col-md-6">
        <div class="copyright">
          <h3>copyright © 2024</h3>
        </div>
      </div>
      <div class="col-md-6">
        <div class="rights">
          <h3>All rights reserved</h3>
        </div>
      </div>
    </div>
  </div>
</div>
