<footer class="footer">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-4 logo"><a [routerLink]="['/home']">CeramicShop</a></div>
      <div class="col-md-4 center">
        <ul class="nav justify-content-center">
          <li class="nav-item"><a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a></li>
          <li class="nav-item"><a class="nav-link" [routerLink]="['/about']" routerLinkActive="router-link-active">About</a></li>
          <li class="nav-item"><a class="nav-link" [routerLink]="['/shop']" routerLinkActive="router-link-active">Shop</a></li>
          <li class="nav-item"><a class="nav-link" [routerLink]="['/contact']" routerLinkActive="router-link-active">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-4 footer-end">
        <div class="socials">
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-youtube"></i>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="footer-2">
  <div class="container-fluid">
    <div class="row second-half align-items-center">
      <div class="col-md-6">
        <div class="copyright">
          <h3>Copyright © 2024</h3>
        </div>
      </div>
      <div class="col-md-6">
        <div class="rights">
          <h3>All rights reserved</h3>
        </div>
      </div>
    </div>
  </div>
</div>
