<nav>
  <ul class="left">
    <li>
      <a class="brand" routerLink="">CeramicShop</a>
    </li>
  </ul>

  <ul class="center">
    <li>
      <a>Home</a>
    </li>
    <li>
      <a>About</a>
    </li>
    <li>
      <a>Shop</a>
    </li>
    <li>
      <a>Contact</a>
    </li>
  </ul>

  <ul class="right">
    <li>
      <a>
        <div class="shop-cart">
          <i class="fa-solid fa-cart-shopping"></i>
        </div>
      </a>
    </li>
  </ul>

  <button class="close collapse" onclick="onClickBtn( )">
    <i class="fa-solid fa-bars"></i>
  </button>
</nav>

<div class="sidebar collpase">
  <button class="close">
    <i class="fa-solid fa-bars"></i>
  </button>
  <ul>
    <li>
      <a>Home</a>
    </li>
    <li>
      <a>About</a>
    </li>
    <li>
      <a>Shop</a>
    </li>
    <li>
      <a>Contact</a>
    </li>

    <li>
      <hr />
    </li>

    <li>
      <div class="shop-cart">
        <i class="fa-solid fa-cart-shopping"></i>
      </div>
    </li>
  </ul>
</div>
