<div class="container-xl">
  <div class="row">
    <h1 class="checkout">Checkout</h1>
    <div class="col-md-8">
      <div class="customer-information">
        <h6>Customer information</h6>
        <hr />
        <input type="text" placeholder="Username or Email Address *" />
      </div>

      <div class="billing-details">
        <h6>Billing details</h6>
        <hr />
        <div class="names">
          <input type="text" placeholder="First name *" />
          <input type="text" placeholder="Last name *" />
        </div>
        <input type="text" placeholder="Company name *" />
        <input type="" placeholder="Company name *" />
        <input type="text" placeholder="Company name *" />
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
