<!-- SECTION HEADER -->
<div class="contact-wrapper">
  <div class="container-fluid-1">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class>Contact Us</h1>
          <p>
            We're here to assist you in any way we can. Whether you have
            questions about our products, need personalized recommendations, or
            simply want to connect with our team, don't hesitate to reach out.
          </p>
        </div>
        <div class="col-xl-6 img-container">
          <div class="img-overlay-1">
            <img src="img/contact-01-300x300.jpg" alt="about-03" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- INFORMATION SECTION -->
  <div class="container contact-info">
    <div class="row">
      <div class="col-md-6 contact-info">
        <div class="get-in-touch">
          <h3>Get in touch</h3>
          <p>
            Share some details here. This is Flexible section where you can
            share anything you want. It could be details or some information.
          </p>
        </div>
        <div class="address">
          <div class="icon-desc">
            <i class="fa-solid fa-location-dot"></i>
            <h6>ADDRESS</h6>
          </div>
          <p>2972 Westheimer Rd. Santa Ana, Illinois 85486</p>
        </div>
        <div class="address">
          <div class="icon-desc">
            <i class="fa-solid fa-phone"></i>
            <h6>PHONE</h6>
          </div>
          <p>(+91) 987 654 321</p>
        </div>
        <div class="address">
          <div class="icon-desc">
            <i class="fa-solid fa-envelope"></i>
            <h6>EMAIL</h6>
          </div>

          <p>info.contact.com</p>
        </div>
        <div class="socials">
          <h6>FOLLOW</h6>
          <i class="fa-brands fa-facebook" style="padding-left: 0px"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-youtube"></i>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-container">
          <div class="form-inputs">
            <div class="label"><p>Name</p></div>
            <div class="name-fields">
              <div class="input-field">
                <input type="text" />
              </div>
              <div class="input-field">
                <input type="text" />
              </div>
            </div>

            <div class="label"><p>Email</p></div>
            <div class="email-field">
              <div class="input-field">
                <input type="text" />
              </div>
            </div>
          </div>

          <div class="label"><p>Comment or Message</p></div>
          <div class="input-field">
            <input type="text" />
          </div>

          <button class="submit-form">Submit</button>
        </div>
      </div>
    </div>
  </div>
  <!-- FAQS SECTION -->
</div>
<div class="FAQS-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="get-in-touch">FAQs</h1>
        <p>
          Find answers to common questions about our ceramic products, ordering,
          shipping, care, and more. If you need further information, feel free
          to contact our support team.
        </p>
      </div>
      <!-- ACCORDION DROP-DOWN -->
      <div class="col-md-6">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                Ordering and shipping
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse show"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Find answers to questions about the ordering process, shipping
                options, delivery times, and tracking your ceramic product
                shipments.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                Product Care and Maintenance
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Learn how to care for and maintain your ceramic products to
                ensure their longevity and beauty. Get tips on cleaning,
                handling, and preserving your pieces.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                Returns and Refunds
              </button>
            </h2>
            <div
              id="collapseThree"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Discover our policies on returns and refunds. This section
                explains how to initiate a return, the eligibility criteria, and
                the refund process for your ceramic purchases.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFour"
                aria-expanded="false"
                aria-controls="collapseFour"
              >
                Customers Order and Personalization
              </button>
            </h2>
            <div
              id="collapseFour"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Interested in custom or personalized ceramic products? Here,
                you’ll find information on how to place custom orders and
                personalize your items to make them uniquely yours.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFive"
                aria-expanded="false"
                aria-controls="collapseFive"
              >
                Contact and Customer Support
              </button>
            </h2>
            <div
              id="collapseFive"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Have questions or need assistance? Find details on how to get in
                touch with our customer support team, including contact
                information and response times. We’re here to help with any
                inquiries you may have.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ad-wrapper">
  <div class="container-fluid ceramic-artistry">
    <div class="row">
      <div class="col-lg-6 image-container">
        <img
          src="img/footer-cta.jpg"
          alt="Ceramic artistry"
          class="img-fluid"
        />
      </div>
      <div class="col-lg-6 content-container">
        <h2>Uncover the World of Ceramic Artistry Start Your Journey Here!</h2>
        <button class="btn-shop">shop now</button>
      </div>
    </div>
  </div>
</div>
