<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <img src="img/footer-cta.jpg" alt="vases picture" class="picture" />
    </div>
    <div class="col-md-6 shop-now">
      <div class="pic-description">
        <h1>
          Uncover the World of<br />
          Ceramic Artistry Start Your<br />
          Journey Here!
        </h1>
        <div class="btn-div">
          <button class="btn-shop">shop now</button>
        </div>
      </div>
    </div>
  </div>
</div>
