<h1>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo, voluptas.
  Perspiciatis quos aperiam aliquam temporibus. Dolorem commodi at distinctio,
  enim porro, voluptas assumenda itaque impedit unde tenetur, dicta ut a!
</h1>

<h2 style="color: blueviolet">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus eligendi
  omnis sint incidunt, illum nisi accusamus, tenetur recusandae, velit debitis
  modi at quaerat. Illo reiciendis dicta praesentium dolorem, ea reprehenderit!
</h2>
<p>The Button</p>

<router-outlet />
