<div class="container-xl">
  <div class="row">
    <div class="shop-wrapper">
      <div class="shop-title">
        <h1>Shop</h1>
      </div>
      <hr class="shop-line" />
    </div>

    <div class="product-info">
      <div class="total-items"><p>Showing all 11 results</p></div>
      <div class="filter">
        <div class="dropdown">
          <a
            class="btn btn-secondary dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Dropdown link
          </a>

          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container-xl">
      <div class="row product-row">
        <div class="col-md-4">1</div>
        <div class="col-md-4">2</div>
        <div class="col-md-4">3</div>
      </div>
    </div>
  </div>
</div>
