<div class="container-xl">
  <div class="row" style="margin: 4em 0">
    <div class="shop-wrapper">
      <div class="shop-title">
        <h1 style="color: #025048">Shop</h1>
      </div>
      <hr class="shop-line" />
    </div>
    <!-- filtering and diplaying total -->
    <div class="product-info">
      <div class="total-items">
        <p>Showing all {{ products.length }} results</p>
      </div>
      <div class="filter">
        <div class="dropdown">
          <a
            class="btn btn-secondary dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Default Sorting
          </a>

          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- PRODUCT DISPLAY SECTION -->
    <div class="container-fluid-4">
      <div class="container">
        <div class="row product-list">
          <div class="col-md-4 product-item" *ngFor="let product of products">
            <div class="product-image">
              <a (click)="router.navigate(['/shop', product.id])">
                <img
                  [src]="product.mainImage"
                  [alt]="product.name"
                  style="cursor: pointer"
                />
              </a>
              <span class="sale-badge" *ngIf="product.oldPrice">Sale!</span>
            </div>
            <span style="opacity: 0.6">{{ product.category }}</span>
            <h4>{{ product.name }}</h4>
            <span class="product-rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </span>
            <p class="price">
              <span class="old-price" *ngIf="product.oldPrice">{{
                product.oldPrice
              }}</span>
              ${{ product.currentPrice }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-scroll-to-top></app-scroll-to-top>
</div>
