@import "../../../../../styles.scss";
.product-info {
  display: flex;
  justify-content: space-between;
}
.container-fluid-4 {
  background-color: $colorWhite;
  padding: 50px 0;

  h6 {
    color: $colorGreen;
    margin-bottom: 10px;
  }

  h2 {
    color: $colorGreen;
    margin-bottom: 30px;
    font-size: 2.5rem;
  }

  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .product-item {
      width: 100%;
      max-width: 30%;
      margin-bottom: 30px;
      text-align: center;

      .product-image {
        position: relative;

        img {
          width: 100%;
          max-width: 300px;
          height: 300px;
          object-fit: cover;
        }

        .sale-badge {
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
          position: absolute;
          top: 1.5em;
          left: 1.5em;
          background-color: $colorWhite;
          color: #424b4a;
          padding: 0.1em 0.8em;
          font-size: 0.87em;
          border-radius: 20px;
          font-weight: 500;
        }
      }

      h4 {
        color: $colorGreen;
        margin-top: 15px;
      }

      .price {
        .old-price {
          text-decoration: line-through;
          color: #999;
          margin-right: 5px;
        }

        color: #424b4a;
        font-weight: 700;
      }
    }
  }
}
