@import "../../../../../styles.scss";

.shop-line {
  margin-bottom: 40px;
}

.product-row {
  justify-content: space-between;
  align-items: center;
}
.shop-title {
  display: flex;

  margin-top: 64px;

  h1 {
    font-size: 37px;
    color: $colorGreen;
    font-family: $heading-Font;
    font-weight: bold;
  }
}
.product-info {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropbtn {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 16px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border: 1px solid;
  }

  .dropbtn:hover,
  .dropbtn:focus {
    background-color: #fdfdfd;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    cursor: pointer;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .filter-category {
    ul {
      list-style-type: none;
      display: flex;
      align-items: center;

      li {
        padding: 0 1rem;
        display: flex;
        align-items: center;

        button {
          color: $colorGreen;
          font-size: 15px;
          text-decoration: none;
          cursor: pointer;
          transition: all 0.3s ease-in-out;

          &:hover {
            text-decoration: none;
            transform: scale(1.2);
          }

          &:active {
            font-size: 25px;
          }
        }
      }
    }
  }
}
.container {
  margin: 0;
  padding: 0;

  .product-list {
    justify-content: space-between;
  }
}

.product-item {
  background-color: white;
  padding: 20px;

  .product-name {
    margin-bottom: 0px;
  }

  .price {
    margin-top: 0px;
  }

  a {
    cursor: pointer;
  }
}

.product-image {
  position: relative;
  overflow: hidden;
}

.product-image img {
  max-width: 600px;
  height: 500px;

  &:hover {
    transition: 0.5s;
    transform: scale(1.1);
  }
}

.product-item span {
  margin-top: 10px;
  font-size: 14px;
  color: gray;
}

.product-item h4 {
  margin: 10px 0;
  font-size: 22px;
  font-weight: bold;
  color: #333;
}

.product-rating {
  margin: 10px 0;
}

.product-rating i {
  color: gold;
  margin-right: 2px;
}

.price {
  margin-top: 10px;
  font-size: 22px;
  color: #333;
}

.old-price {
  text-decoration: line-through;
  margin-right: 10px;
  color: gray;
  font-size: 16px;
}
