// VARIABLES
$colorGreen: #025048;
$colorWhite: #ffff;
$colorGrey: #f1f4f1;
$heading-Font: "Work Sans", sans-serif;
$paragraph-Font: "Playfair Display", serif;
$heading-FontWeight: 500;
$allCaps: uppercase;
$line-Height: 1.1em;

// ELEMENTS
h1 {
  font-family: $heading-Font;
  font-weight: $heading-FontWeight;
  text-transform: $allCaps;
  line-height: $line-Height;
}

p {
  font-family: $paragraph-Font;
  font-weight: $heading-FontWeight;
}
