// VARIABLES
$colorGreen: #025048;
$colorWhite: #ffff;
$colorGrey: #f1f4f1;
$heading-Font: "Work Sans", sans-serif;
$title-Font: "Playfair Display", serif;
$heading-FontWeight: 500;
$allCaps: uppercase;
$line-Height: 1.1em;
$title-letter-Spacing: 1.5px;

// ELEMENTS
h1,
h2,
h4 {
  font-family: $title-Font;
  font-weight: $heading-FontWeight;
  line-height: $line-Height;
}

h6 {
  font-family: $title-Font;
  font-weight: $heading-FontWeight;
  text-transform: $allCaps;
}

p {
  font-family: $title-Font;
}

button {
  font-family: $heading-Font;
  font-weight: $heading-FontWeight;
  text-transform: $allCaps;
  letter-spacing: $title-letter-Spacing;
}
